{% extends 'layout2.html' %}

{% block title %}
  피로그래밍 지원하기
{% endblock title %}
{% block contents %}


    
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="제출하기">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
            {% endfor %}
        {% endif %}
</form>

{% endblock contents %}
    

