#title_section {
  width: 100%;
  height: 15vw;
  padding: 0 0 118px;
  background-color: #151515;
  padding-top: 7vw;
}

#title1 {
  font-family: NotoSansKR;
  font-size: 2.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 10vw;
}

#title2 {
  font-family: NotoSansKR;
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 10vw;
}

#contents_section {
  /* width: 70vw;
  margin: 5vw auto; */
  width: 80%;
  margin: 0 auto;
  height: 100%;
  padding: 40px 0;
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#contents_section > div {
  margin-bottom: 2rem;
}

#congrats > div {
  display: inline-block;
  font-size: 35px;
}

#congrats > div:nth-child(2) {
  color: blue;
}

#info_text {
  font-weight: normal;
}

#etc_infos > div:nth-child(2) {
  font-weight: normal;
}

#sorry1 > div {
  display: inline-block;
  font-size: 35px;
}

#sorry2,
#sorry3,
#sorry4 {
  font-weight: normal;
}

#sorry1 > div:nth-child(2) {
  color: red;
}

#confirm_a {
  width: 303px;
  margin: 0 auto;
}

#confirm {
  width: 290px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #00e800;
  padding-top: 8px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  border: 1px solid grey;
  box-shadow: 0 0 0 0.8px;
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
  #sorry1 div,
  #congrats div {
    font-size: 5.5vw;
  }

  #sorry2,
  #sorry3,
  #sorry4,
  #info_text,
  #meeting_infos > #datetime,
  #meeting_infos > #location {
    font-size: 4vw;
  }

  #etc_infos div {
    font-size: 3.5vw;
  }

  #confirm {
    width: 18vw;
    height: 0;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
  }
}
