* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contents-containor {
    width: 100%;
    
}

.contents-box {
    display: inline-flex;
    margin-left: 130px;
}

.float-banner{
    width: 219px;
    position : absolute;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    padding: 20px 0;
    margin: 165px 31px 0 28px;
    
}
.float-banner a{
    display: block;
    font-family: 'Noto Sans KR';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    padding : 5px 0;
    text-align: center;
    color: #000000;

}

.right-containor{
    margin-left: 350px;
}
.button-containor {
    display: flex;
    flex-wrap: wrap;
}

.button-containor a {
    
    display: inline-block;
    text-decoration:none;
    width: 219px;
    height: 55px;
    margin : 55px 0;
    margin-right: 31px;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #272727;
    background-color: white;

} 

.button-containor span {
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    display: flex; justify-content: center; align-items: center;
    line-height:55px;
    letter-spacing: normal;
    color: #272727;
}

a#major {
    background-color: #272727;
}

#major span {
    color: #4dff53;
}

.nth-containor {
    width : 750px;
    display: flex;
    
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.thumbnail-containor {
    width: 219px;
    box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.5);
    background-color: #f6f6f6;
    margin-bottom : 30px;
    margin-right: 31px;
}

a.thumbnail-image img {
    width: 219px;
    height: 219px;
    object-fit: cover;
}

.thumbnail-intro {
    width: 219px;
    height: 157px;
    
}
p {
    transform-style: none;
}
#name, #introduce {
    font-family: 'Noto Sans KR';
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    padding : 0 10px;
    letter-spacing: normal;
    color: #272727;
}

#name {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .contents-box{
        margin-left : 0;
    }
    .right-containor, .interview-containor {
        width : 100%;
        margin-left: 0px;
    }

    .left-containor{
        display: none;
    }

    
    .button-containor, .nth-containor {
        width:100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }
    .button-containor span {
        width: 219px;;
    }
    .button-containor a{
        margin : 5px 0;
    }
    .thumbnail-containor {
        margin-right: 0;
    }

}
  