#title_section{
    width: 100vw;
  height: 15vw;
  padding: 0 0 118px;
  background-color: #151515;
  padding-top:7vw;
}


#title1{
  font-family: NotoSansKR;;
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left:10vw;
}

#form_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form_section{
    margin-top:7vw;
    margin-bottom:7vw;
}

#name_section, #phone_number_section{
    display: flex;
    flex-direction: column;
    margin-top : 10px;
    margin-bottom:20px;
}

#name{
    font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
  margin-right:61px;
  margin-bottom: 15px;
}

#name_field>input{
    width: 355px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #1f1f1f;
  font-size:25px;
}

#phone_number{
    font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555555;
  margin-right:20px;
  margin-bottom: 15px;
}

#phone_number_field>input{
    width: 355px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #1f1f1f;
  font-size:25px;
}

#submit_btn{
    width: 355px;
  height: 55px;
  border: solid 2px #1f1f1f;
  background-color: #151515;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top:60px;
}
